body {
  padding-top: 80px;
}

.things {

  .thing {
    cursor: pointer;
    float: left;
    outline: 1px solid #000;
    padding: 20px;
    width: 70px;
    height: 70px;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.completed {
      background-color: green;
      color: #fff;
    }

    &:hover {
      outline: 1px solid #000;
    }
  }
}

#login-buttons {
  color: #fff;

  #login-buttons-logout {
    cursor: pointer;
  }
}
